<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="dev.serverurl" value="https://clinttech3.api.crm.dynamics.com" />
    <add key="dev.username" value="clint@clinttech3.onmicrosoft.com" />
    <add key="dev.password" value="pass@word1" />
    <add key="dev.domain" value="" />
	<add key="logfilepath" value="{1}_{0:yyyy-MM-dd_HH}.log" />
  </appSettings>
  <!--<system.diagnostics>
		<switches>
			<add name="XmlSerialization.Compilation" value="4" />
		</switches>
	</system.diagnostics>	<system.xml.serialization>
		<xmlSerializer tempFilesLocation="c:\\source"/>
	</system.xml.serialization>-->
</configuration>