<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="host" value="https://clinttech3.api.crm.dynamics.com" />
    <add key="username" value="clint@clinttech3.onmicrosoft.com" />
    <add key="password" value="pass@word1" />
    <add key="domain" value="" />
  </appSettings>
  <!--<system.diagnostics>
		<switches>
			<add name="XmlSerialization.Compilation" value="4" />
		</switches>
	</system.diagnostics>	<system.xml.serialization>
		<xmlSerializer tempFilesLocation="c:\\source"/>
	</system.xml.serialization>-->
</configuration>