{
  "LogFilePath": "{1}_{0:yyyy-MM-dd_HH}.log",
  "Connections": {
    "test12x11": "username=t; password=jdjhjhjhhj",
    "test": "username=t; password=jdjhjhjhhj;",
    "test1": "username=t; password=jdjhjhjhhj;",
    "test12": "username=t; password=jdjhjhjhhj;",
    "test123": "username=t; Password=lheUIowJ5wcYzSvsMHrKXA==;",
    "test1234": "username=t; Password=lheUIowJ5wcYzSvsMHrKXA==;",
    "t1": "username=t; password=jdjhjhjhhj;",
    "t12": "username=t; password=jdjhjhjhhj;",
    "t123": "username=t; Password=#password#;",
    "t1234": "username=t; Password=#password#;",
    "t12345": "username=t; password=#lheUIowJ5wcYzSvsMHrKXA==#;",
    "t123456": "username=t; password=#lheUIowJ5wcYzSvsMHrKXA==#;",
    "t1234567": "username=t; password=#lheUIowJ5wcYzSvsMHrKXA==#;",
    "t12345678": "username=t; PAssword=jdjhjhjhhj;",
    "t12345678x": "username=t; PAssword=jdjhjhjhhj;",
    "t12345678x1": "username=t; PAssword=jdjhjhjhhj;",
    "t12345678x12": "username=t; PAssword=jdjhjhjhhj;",
    "t12345678x123": "username=t; PAssword=jdjhjhjhhj;",
    "t12345678x1234": "username=t; PAssword=#lheUIowJ5wcYzSvsMHrKXA==#;",
    "t12345678x12345": "username=t; password=#lheUIowJ5wcYzSvsMHrKXA==#;",
    "t12345678x123456": "username=t; password=#lheUIowJ5wcYzSvsMHrKXA==#;",
    "t12345678x123456x": "username=t; password=#lheUIowJ5wcYzSvsMHrKXA==#;"
  },
  "AppSettings": {}
}